* {
  margin: 0;
  box-sizing: border-box;
}
.parent {
  width: 800px;
  /* height: 1000px; */
  background-color: aqua;
  margin: auto;
  display: grid;
  /* Sledece svojstvo nam definise koliko cemo imati kolona i kojih sirina. */
  /* grid-template-columns: 200px 200px; */
  /* grid-template-columns: 1fr 1fr 2fr; */
  grid-template-columns: repeat(3, 200px);
  /* Sledece svojstvo nam definise koliko cemo imati redova i kojih visina. */
  /* grid-template-rows: 200px 150px; */
  /* grid-auto-rows: 180px; */
  /* minmax() funkcija zahteva 2 argumenta, gde prvi predstavlja minimalnu visinu, a drugi maksimalnu visinu reda. (u slucaju potrebe za povecanjem) */
  grid-auto-rows: minmax(180px, auto);
  /* Razmak izmedju redova */
  /* grid-row-gap: 15px; */
  /* Razmak izmedju kolona */
  /* grid-column-gap: 25px; */
  grid-gap: 20px;
  grid-template-areas:
    "header header right"
    "prvi drugi treci"
    "cetvrti peti treci";
}
.child {
  /* width: 150px; */
  /* height: 150px; */
}
.first {
  background-color: bisque;
  grid-area: header;
}
.second {
  background-color: red;
  grid-area: right;
}
.third {
  background-color: blue;
  grid-area: prvi;
}
.forth {
  background-color: rgb(147, 83, 6);
  grid-area: drugi;
}
.fifth {
  background-color: blueviolet;
  grid-area: treci;
}
.sixth {
  background-color: rgb(162, 120, 202);
  grid-area: cetvrti;
}
.seventh {
  background-color: rgb(47, 47, 59);
  grid-area: peti;
}
