* {
  margin: 0;
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
  align-items: center;
  gap: 90px;
  background-color: rgb(155, 135, 135);
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  text-decoration: none;
}
.img {
  width: 100px;
  height: 100px;
  display: flex;

  border-radius: 15px;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: rgb(155, 135, 135);
}
