body {
  background-color: #f5d9d5;
  font-family: Nunito, sans-serif;
}
.first h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}
.nav-link a {
  color: #ea1c2c;
}
.first p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}
#mainNavbar .nav-link {
  color: white;
}
#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}
#mainNavbar .navbar-brand {
  color: #ea1c2c;
  /* font-size: 1.5rem; */
}
#heading-group span {
  color: #ea1c2c;
}
.content {
  margin-top: 100px;
}
